In [1]:
print("ygjh")

ygjh

In [20]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\deell\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:

pip install -U scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\deell\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 357.1 kB/s eta 0:00:30
   - -------------------------------------- 0.5/11.0 MB 357.1 kB/s eta 0:00:30
   -- ------------------------------------- 0.8/11.0 MB 453.5 kB/s eta 0:00:23
   -- ------------------------------------- 0.8/11.0 MB 453.5 kB/s eta 0:00:23
   --- ------------------------------------ 1.0/11.0 MB 508.7 kB/s eta 0:00:20
   ---- ----------------------------------- 1.3/11.0 MB 578.7 kB/s eta 0:00:17
   ---- ----------------------------------- 1.3/11.0 MB 578.7 kB/s eta 0:00:17
   ----- ---------------------------------- 1.6/11.0 MB 603.7 kB/s eta 0:00:16
   ------ --------------------------------- 1.8/11.0 MB 649.7 kB/s eta 0:00:15
   ------ --------------------------------- 1.8/11.0 MB 649.7 kB/s eta 0:00:15
   ------- -------------------------------- 2.1/11.0 MB 652.6 kB/s eta 0:00:14
   -------- ------------------------------- 2.4/11.0 MB 681.3 kB/s eta 0:00:13
   -------- ------------------------------- 2.4/11.0 MB 681.3 kB/s eta 0:00:13
   --------- ------------------------------ 2.6/11.0 MB 689.6 kB/s eta 0:00:13
   ---------- ----------------------------- 2.9/11.0 MB 726.4 kB/s eta 0:00:12
   ----------- ---------------------------- 3.1/11.0 MB 765.9 kB/s eta 0:00:11
   ------------ --------------------------- 3.4/11.0 MB 799.0 kB/s eta 0:00:10
   ------------- -------------------------- 3.7/11.0 MB 817.0 kB/s eta 0:00:09
   -------------- ------------------------- 3.9/11.0 MB 827.1 kB/s eta 0:00:09
   --------------- ------------------------ 4.2/11.0 MB 830.6 kB/s eta 0:00:09
   --------------- ------------------------ 4.2/11.0 MB 830.6 kB/s eta 0:00:09
   --------------- ------------------------ 4.2/11.0 MB 830.6 kB/s eta 0:00:09
   ---------------- ----------------------- 4.5/11.0 MB 806.1 kB/s eta 0:00:09
   ----------------- ---------------------- 4.7/11.0 MB 796.8 kB/s eta 0:00:08
   ----------------- ---------------------- 4.7/11.0 MB 796.8 kB/s eta 0:00:08
   ------------------ --------------------- 5.0/11.0 MB 801.1 kB/s eta 0:00:08
   ------------------ --------------------- 5.0/11.0 MB 801.1 kB/s eta 0:00:08
   ------------------ --------------------- 5.0/11.0 MB 801.1 kB/s eta 0:00:08
   ------------------- -------------------- 5.2/11.0 MB 759.0 kB/s eta 0:00:08
   ------------------- -------------------- 5.2/11.0 MB 759.0 kB/s eta 0:00:08
   -------------------- ------------------- 5.5/11.0 MB 759.2 kB/s eta 0:00:08
   -------------------- ------------------- 5.8/11.0 MB 761.0 kB/s eta 0:00:07
   -------------------- ------------------- 5.8/11.0 MB 761.0 kB/s eta 0:00:07
   -------------------- ------------------- 5.8/11.0 MB 761.0 kB/s eta 0:00:07
   --------------------- ------------------ 6.0/11.0 MB 748.7 kB/s eta 0:00:07
   ---------------------- ----------------- 6.3/11.0 MB 753.7 kB/s eta 0:00:07
   ----------------------- ---------------- 6.6/11.0 MB 765.6 kB/s eta 0:00:06
   ------------------------ --------------- 6.8/11.0 MB 772.5 kB/s eta 0:00:06
   ------------------------- -------------- 7.1/11.0 MB 783.1 kB/s eta 0:00:05
   -------------------------- ------------- 7.3/11.0 MB 797.5 kB/s eta 0:00:05
   --------------------------- ------------ 7.6/11.0 MB 810.0 kB/s eta 0:00:05
   ---------------------------- ----------- 7.9/11.0 MB 820.5 kB/s eta 0:00:04
   ----------------------------- ---------- 8.1/11.0 MB 831.9 kB/s eta 0:00:04
   ------------------------------ --------- 8.4/11.0 MB 841.6 kB/s eta 0:00:04
   ------------------------------- -------- 8.7/11.0 MB 853.5 kB/s eta 0:00:03
   -------------------------------- ------- 8.9/11.0 MB 859.7 kB/s eta 0:00:03
   --------------------------------- ------ 9.2/11.0 MB 864.3 kB/s eta 0:00:03
   ---------------------------------- ----- 9.4/11.0 MB 866.1 kB/s eta 0:00:02
   ---------------------------------- ----- 9.4/11.0 MB 866.1 kB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 857.9 kB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 857.9 kB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 850.4 kB/s eta 0:00:02
   ------------------------------------- -- 10.2/11.0 MB 853.5 kB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 859.8 kB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 869.3 kB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 869.3 kB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 860.1 kB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scikit-learn
Successfully installed scikit-learn-1.5.2 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
a=[1,2,3]
var=pd.Series(a)
print(var)

0    1
1    2
2    3
dtype: int64

In [5]:
import pandas as pd
workoutdata={
       "food":["chicken","broccoli","carrot"],
       "calories":[86,67,40]
}
x=pd.DataFrame(workoutdata,index=["A","B","C"])
print(x)

       food  calories
A   chicken        86
B  broccoli        67
C    carrot        40

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

In [24]:
import pandas as pd
a=[12,24,36,48]
bx=pd.DataFrame(a,index=['a','b','c','d'])
print(bx)

    0
a  12
b  24
c  36
d  48

In [25]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
dataset = np.array( 
[['Asset Flip', 100, 1000], 
['Text Based', 500, 3000], 
['Visual Novel', 1500, 5000], 
['2D Pixel Art', 3500, 8000], 
['2D Vector Art', 5000, 6500], 
['Strategy', 6000, 7000], 
['First Person Shooter', 8000, 15000], 
['Simulator', 9500, 20000], 
['Racing', 12000, 21000], 
['RPG', 14000, 25000], 
['Sandbox', 15500, 27000], 
['Open-World', 16500, 30000], 
['MMOFPS', 25000, 52000], 
['MMORPG', 30000, 80000] 
]) 
print(dataset)

[['Asset Flip' '100' '1000']
 ['Text Based' '500' '3000']
 ['Visual Novel' '1500' '5000']
 ['2D Pixel Art' '3500' '8000']
 ['2D Vector Art' '5000' '6500']
 ['Strategy' '6000' '7000']
 ['First Person Shooter' '8000' '15000']
 ['Simulator' '9500' '20000']
 ['Racing' '12000' '21000']
 ['RPG' '14000' '25000']
 ['Sandbox' '15500' '27000']
 ['Open-World' '16500' '30000']
 ['MMOFPS' '25000' '52000']
 ['MMORPG' '30000' '80000']]

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
import joblib

In [3]:
df=pd.read_csv('lifestylex.csv')

In [4]:
print(df)

     Age  Bmi  Drinking  Excercise  Gender  Junk  Sleep  Smoking  Diabetes  \
0     46   15         1          1       1     2      1        0     88.12
1      8   34         1          2       0     1      2        0     21.26
2     63   15         0          3       0     3      1        0     56.64
3     42   32         0          2       0     2      2        1     42.72
4     45   30         0          2       1     1      1        1     44.76
..   ...  ...       ...        ...     ...   ...    ...      ...       ...
991   11   21         0          2       1     3      3        0      5.00
992   86   35         0          2       0     3      3        0     43.34
993   84   24         1          1       0     2      2        1     50.76
994   88   21         1          3       0     1      2        1     19.16
995   33   29         0          2       0     3      1        1     60.54

     Hypertension  Depression  output
0           77.05       44.04       2
1           45.60        5.35       3
2           37.70       49.00       2
3           47.40       52.10       1
4           20.06       38.68       2
..            ...         ...     ...
991          5.00        5.00       1
992         56.72       64.10       1
993         99.10       41.25       3
994         74.60       41.25       3
995         58.00       90.40       1

[996 rows x 12 columns]

In [5]:
df.head()

,Age,Bmi,Drinking,Excercise,Gender,Junk,Sleep,Smoking,Diabetes,Hypertension,Depression,output
0,46,15,1,1,1,2,1,0,88.12,77.05,44.04,2
1,8,34,1,2,0,1,2,0,21.26,45.60,5.35,3
2,63,15,0,3,0,3,1,0,56.64,37.70,49.00,2
3,42,32,0,2,0,2,2,1,42.72,47.40,52.10,1
4,45,30,0,2,1,1,1,1,44.76,20.06,38.68,2

In [7]:
df.tail()

,Age,Bmi,Drinking,Excercise,Gender,Junk,Sleep,Smoking,Diabetes,Hypertension,Depression,output
991,11,21,0,2,1,3,3,0,5.00,5.00,5.00,1
992,86,35,0,2,0,3,3,0,43.34,56.72,64.10,1
993,84,24,1,1,0,2,2,1,50.76,99.10,41.25,3
994,88,21,1,3,0,1,2,1,19.16,74.60,41.25,3
995,33,29,0,2,0,3,1,1,60.54,58.00,90.40,1

In [10]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.drop_duplicates(inplace=True)

In [11]:
df.tail()

,Age,Bmi,Drinking,Excercise,Gender,Junk,Sleep,Smoking,Diabetes,Hypertension,Depression,output
991,11,21,0,2,1,3,3,0,5.00,5.00,5.00,1
992,86,35,0,2,0,3,3,0,43.34,56.72,64.10,1
993,84,24,1,1,0,2,2,1,50.76,99.10,41.25,3
994,88,21,1,3,0,1,2,1,19.16,74.60,41.25,3
995,33,29,0,2,0,3,1,1,60.54,58.00,90.40,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 994 entries, 0 to 995
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           994 non-null    int64
 1   Bmi           994 non-null    int64
 2   Drinking      994 non-null    int64
 3   Excercise     994 non-null    int64
 4   Gender        994 non-null    int64
 5   Junk          994 non-null    int64
 6   Sleep         994 non-null    int64
 7   Smoking       994 non-null    int64
 8   Diabetes      994 non-null    float64
 9   Hypertension  994 non-null    float64
 10  Depression    994 non-null    float64
 11  output        994 non-null    int64
dtypes: float64(3), int64(9)
memory usage: 101.0 KB

In [13]:
df.describe()

,Age,Bmi,Drinking,Excercise,Gender,Junk,Sleep,Smoking,Diabetes,Hypertension,Depression,output
count,994.000000,994.000000,994.000000,994.000000,994.000000,994.000000,994.000000,994.000000,994.000000,994.000000,994.000000,994.000000
mean,46.415493,24.955734,0.469819,1.996982,0.475855,1.993964,2.007042,0.481891,41.867143,48.731466,47.377314,1.875252
std,25.724143,6.037817,0.499340,0.809679,0.499668,0.828717,0.805914,0.499924,27.337184,30.260378,28.656799,0.887720
min,2.000000,15.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.220000,0.093000,0.080000,1.000000
25%,24.000000,20.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,18.260000,21.672250,24.080000,1.000000
50%,46.000000,25.000000,0.000000,2.000000,0.000000,2.000000,2.000000,0.000000,40.860000,48.951500,47.380000,2.000000
75%,69.000000,30.000000,1.000000,3.000000,1.000000,3.000000,3.000000,1.000000,62.835000,74.404750,67.250000,3.000000
max,90.000000,35.000000,1.000000,3.000000,1.000000,3.000000,3.000000,1.000000,99.480000,99.820000,99.750000,3.000000

In [14]:
df.isnull().sum()

Age             0
Bmi             0
Drinking        0
Excercise       0
Gender          0
Junk            0
Sleep           0
Smoking         0
Diabetes        0
Hypertension    0
Depression      0
output          0
dtype: int64

In [16]:
df.columns

Index(['Age', 'Bmi', 'Drinking', 'Excercise', 'Gender', 'Junk', 'Sleep',
       'Smoking', 'Diabetes', 'Hypertension', 'Depression', 'output'],
      dtype='object')

In [18]:
df['output'].value_counts()

output
1    461
3    337
2    196
Name: count, dtype: int64